<section
	class="
		probootstrap-section
		proboostrap-clients
		probootstrap-bg-white probootstrap-zindex-above-showcase
	"
>
	<div class="container">
		<div class="row mb50">
			<div class="col-md-4">
				<h1 class="mt0">500</h1>
			</div>
			<div class="col-md-7 col-md-push-1">
				<p>Internal server error!</p>
				<p><%- error %></p>
			</div>
		</div>
		<!-- END row -->
		<div class="row">
			<div class="col-md-12">
				<p>
					<img
						src="img/slider_1.jpg"
						class="img-responsive"
						alt="Free Bootstrap Template by uicookies.com"
					/>
				</p>
			</div>
		</div>
	</div>
</section>
